
.about-container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 2vh;
    width: 100vw;
    text-align: center;
}


.about-container h1{
    transform: translateY(10vh);
    z-index: 2;
    
}

.about-container img{
    position: relative;
    z-index: 1;
}

