

.header{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
.navigation ul li{
display: inline;
justify-content: space-between;
padding: 10px;
margin-left: 4vh;
}
.navigation ul li:hover{
    color: #FF7F6F;
font-style: normal;
line-height: normal;
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation{
    justify-content: center;
    align-items: center;
}

.contact-button{
    padding: 20px;
}

.logo{
    padding: 2vh;
}
.logo-name{
    color: #FF6B00;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Megrim;
font-size: 32px;

}