.socials-container img{
    width: 46px;
    height: auto;
    
}

.socials-container{
    display: flex;
    max-width: 200px;
    padding: 20px;
    justify-content: space-between;
    background: transparent;
    
}